node_modules/
build/
README.md
test.ts
.env
.env.*
.git
docker*
.gitlab-ci.yml
.prettierignore
.gitlab/
.husky/
helm/
.vscode/
architecture.png
GitVersion.yml
gitversion-ci-cd-plugin-extension.gitlab-ci.yml
.editorconfig
